*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(https://wallpaper.dog/large/5448919.jpg);
    background-size:cover;
    background-attachment:fixed;
}
body::-webkit-scrollbar{
    -webkit-appearance:none;
    width:5px;
}
body::-webkit-scrollbar-thumb{
    background-color:#4f0a57;
}
.navbar{
    width:200px;
    overflow: hidden;
    height:100vh;
    position:fixed;
    background-color:#090632;
    color:white;
    padding-top:1%;
}
.navbar .profile .image{
    height:50px;
    width:50px;
    overflow: hidden;
    border-radius:50%;
}
.navbar .profile .image img{
    width:100%;
}
.navbar ul li{
    display: flex;
    align-items: center;
}
.navbar .nav-title{
    margin-left:5%;
    font-family:poppins;
    font-size:0.8rem;
}
.navbar .account{
    font-family:gilroy;
    font-size:1rem;
}
.navbar ul li{
    margin-bottom:10%;
    cursor: pointer;
    padding-left:2%;
}
.navbar ul li .nav-title a{
    color:white;
    text-decoration:none;
}
.navbar ul li .nav-title a:hover{
    color:#4f0a57;
    transition-duration:0.2s;
}
.navbar ul li .search-box input{
    height:30px;
    background-color:transparent;
    border: 1.5px solid white;
    border-radius:5px;
    color:white;
    font-family:poppins;
    padding-left:10%;
}
.navbar ul .nav-header{
    font-family:Poppins;
}
.navbar{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.navbar ul:last-child li:last-child{
font-style:italic;
font-family:Gilroy;
background-color:#4f0a57;
height:30px;
}
/* grid-1 */
.container{
    width:60%;
    margin-left:25%;
    padding-top:2%;
    overflow:auto;
}
.grid-1 .ads{
    width:100%;
    height:300px;
    overflow: hidden;
    border-radius:12px;
}
.grid-1 .ads img{
    width:100%;
}
/* grid-2 */
.grid-2{
    margin-bottom:10%;
}
.grid-2 .header{
    font-family:gilroy;
    margin-top:2%;
    color:white;
    font-size:1.5rem;
}
.grid-2 .books{
    margin-top:2%;
    display: flex;
    overflow:auto;
}
.grid-2 .books .book{
    min-height:200px;
    min-width:150px;
    max-height:200px;
    max-width:150px;
    overflow: hidden;
    border-radius:2px;
    margin-right:2%;
    display: flex;
    justify-content: center;
}
.grid-2 .books .book img{
    width:100%;
}
.grid-2 .books::-webkit-scrollbar{
    -webkit-appearance:none;
    height:8px;
    background-color:white;
}
.grid-2 .books::-webkit-scrollbar-thumb{
    background-color:#4f0a57;
}
.bottom-header{
    text-align:center;
    color:white;
    font-family:Gilroy;
    margin-top:5%;
}
.persons-card{
    margin-top:5%;
    display: flex;
    justify-content: center;
}
.persons-card .card{
    height:50px;
    width:200px;
    overflow: hidden;
    background-color:rgb(18, 94, 209,0.2);
    color:white;
    display: flex;
    align-items: center;
    padding-left:2%;
    font-family:Poppins;
    border-radius:2px;
    margin-right:2%;
}
.persons-card .card .name{
    margin-left:2%;
}
.persons-card .card .profile .image{
    height:30px;
    width:30px;
    border-radius:50%;
    overflow: hidden;
}
.persons-card .card .profile .image img{
    width:100%;
}
.footer{
    font-family:Gilroy;
    font-style:italic;
    text-align: center;
    margin-top:10%;
    color:white;
    font-size:2rem;
}
@media screen and (max-width:1080px) {
    .navbar{
        width:50px;
    }
    .navbar .nav-title{
        display:none;
    }
    .navbar ul .nav-header{
        display:none;
    }
    .navbar .search .search-box input{
        background-color:#090632;
        outline:none;
        border:none;
    }
    .navbar ul{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .navbar .profile .image{
        height:30px;
        width:30px;
    }
    .navbar ul li{
        margin-bottom:30%;
    }
    .navbar ul .search{
        position:fixed;
        left:30%;
        top:5%;
    }
    .navbar ul:last-child li:last-child{
        display:none;
    }
    .container{
        width:80%;
        margin-left:18%;
    }
    .container .grid-1 .ads{
        height:200px;
    }
    .container .grid-1 .ads img{
        width:150%;
    }
    .container .header{
        font-size:1rem;
    }
    .grid-2 .books .book{
        min-height:150px;
        max-height:150px;
        min-width:110px;
        max-width:110px;
    }
    .grid-2 .books::-webkit-scrollbar{
        height:5px;
    }
    .persons-card{
        flex-direction:column;
        align-items: center;
    }
    .persons-card .card{
        margin-bottom:5%;
        font-size:0.8rem;
    }
}
