@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1313139e;
    color: #fff;
    padding: 0 10px;
}
.container{
    max-width: 900px;
    margin: auto;
}
/* seccion cabecera */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #262626;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 30px 0;
}
.button1{
    display: inline-block;
    border: none;
    background: rgba(255, 0, 0, 0);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0;
}
.button1{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
.gradient-text-1 {
    /* Create the gradient. */
    background-image: linear-gradient(40deg, #fd0c99, #ffffff, #00ff2a);      
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.gradient-text-titulo {
    display: inline-block;
    background-image: url(../img/index/neon1.gif);
    background-size: 100%;
    background-position: center;
    font-size: 0.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: relative;
    word-wrap: break-word;
    cursor: pointer;
    transition: 0.1s color;
    }
header nav a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin-left: 20px;
}
header nav a:hover{
    color: #fe9018;
}

/* SECCIÓN INICIO*/
#inicio{
    background-color:#262626;
    padding: 40px;
    border-radius: 10px;
}
#inicio .fila{
    display: flex;
    align-items: center;
}
#inicio .fila .col{
    width: 50%;
}
#inicio .fila .col .contenedor-img{
    /*max-width: 200px;*/
    width: fit-content;
    margin: auto;
}
#inicio .fila .col .contenedor-img img{
    width: 100%;
}
#inicio .fila .col p{
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;   
}
#inicio .fila .col h1{
    font-size: 2.5rem;
    margin: 10px 0;
}
#inicio .fila .col button{
    display: inline-block;
    border: none;
    background: red;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
}
#inicio .fila .col button{
    animation: blink-animation 3s steps(5, start) infinite;
    -webkit-animation: blink-animation 3s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
/* sección sobre mi */
#sobremi{
    background-color: #262626;
    margin: 30px 0;
    border-radius: 10px;
    overflow: hidden;
}
#sobremi .fila{
    display: flex;
}
#sobremi .fila .col{
    width: 50%;
}
#sobremi .fila .col h3{
    color: #18fed8;
    margin-bottom: 20px;
    font-size: 2.2rem;
}
#sobremi .fila .col h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 2rem;
}
#sobremi .fila .col p{
    font-size: 14px;
}
#sobremi .fila .col .contenedor-img{
    width: 98%;
}
#sobremi .fila .col .contenedor-img img{
    width: 100%;
    display: block;
}
#sobremi .fila .info{
    padding: 40px ;

}
/* sección responsive */
@media only screen and (max-width: 700px) {
    #header{
        display: block;
        text-align: center;
    }
    #inicio .fila{
        display: block;
        text-align: center;
    }
    #inicio .fila .col{
        width: 100%;
    }
    #sobremi .fila{
        display: block;
        text-align: center;
    }
    #sobremi .fila .col{
        width: 100%;
    }
}
