.hideScroll {
    overflow: auto;
    height: 100%;
    scrollbar-width: none;
     /*Firefox*/
  }
  
  /*Webkit*/
  .hideScroll::-webkit-scrollbar {
    width: 0;
  }
  .responsive {
    width: auto;
    max-width: 99%;
    height: auto;
    -webkit-background-size: cover;
    background-size: cover;
  }