.hideScroll {
    overflow: auto;
    height: 100%;
    scrollbar-width: none; /*Firefox*/
  }
  
  /*Webkit*/
  .hideScroll::-webkit-scrollbar {
    width: 0;
  }
  .responsive {
    width: auto;
    height: 95%;

  }
  